html {
	font-family: "Montserrat";
	text-align: center;
	color: #333;
}

#title {
	cursor: pointer;
}

.container {
	width: 670px;
	margin: 0 auto;
	text-align: center;
}

.buttons-row {
	width: 100%;
	margin: 0 auto;
}

.row {
	margin: 30px auto 7vh auto;
	padding: 20px 10px;
}

button {
	font-family: "Montserrat";
	font-size: 1.25em;
	color: #fff;
	background-color: #6082b6;
	padding: 15px 40px;
	border: none;
	border-radius: 5px;
	margin: 20px 0 30px 0;
	transition: all .2s ease;
}

button:hover {
	background-color: #21abcd;
}

button:focus {
	outline: 0;
}

#submit {
	margin-left: 10px;
}

#red-btn,
#blue-btn {
	display: none;
}

input {
	font-family: "Montserrat";
	font-size: 1.25em;
	padding: 15px 30px;
	background-color: #f4f4f4;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	margin: 10px auto;
	transition: all .25s ease;
}

input:focus {
	outline: 0;
	border: 1px solid #333;
}

h1 {
	font-size: 4em;
	margin-top: 7vh;
}

#disclaimer {
	display: none;
}

#pick-color {
	display: none;
}

h2 {
	font-size: 1.5em;
	margin: 10px 0;
	line-height: 1.5;
}

.circle {
	position: relatibe;
	display: inherit;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 3px 5px;
	border: 3px solid #b3b3b3;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: center;
	transition: all .25s ease;
}

.circle:hover,
.circle:active {
	border: 3px solid #797979;
}

.circle > p {
	font-family: "Roboto Slab";
	position: absolute;
	font-size: 4em;
	color: #fff;
	top: 15px;
	left: 35px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.circle-background-color-blue {
	background-color: #4189c7;
	border: 3px solid #4189c7;
}

.circle-background-color-blue:hover {
	border: 3px solid #4189c7;
}
.circle-background-color-red {
	background-color: #c73d47;
	border: 3px solid #c73d47;
}
.circle-background-color-red:hover {
	border: 3px solid #c73d47;
}

@media (max-width: 785px) {
	#disclaimer {
		display: inline;
	}
	.container {
		padding-top: 20vh;
	}
	#title {
		display: none;
	}
	.row {
		display: none;
	}
	.buttons-row {
		display: none;
	}
}
